In [3]:
# import dependencies 
import os
import pandas as pd
import datetime as dt

In [4]:
# generate path to csv
csv_path = f"C:/Users/Fiona/Documents/School/UofA Boot Camp/Github Repositories/COVID_19/arizona_data/arizona_master_file.csv"
master_df = pd.read_csv(csv_path)
master_df = master_df[master_df.County != 'Unassigned']

master_df['Date'] = master_df['Date'].apply(pd.to_datetime)
master_df['Date'] = master_df['Date'].dt.strftime('%m/%d/%Y')

master_df.sort_values(by=['County','Date'], inplace=True)
master_df = master_df.drop(columns=['FIPS', 'State','Country','lat','lon','Active','Combined_Key'])
master_df = master_df.drop(columns=['Confirmed.1'])
master_df = master_df.dropna()

try:
    master_df_confirmed = master_df.pivot(index=master_df.columns[0],
                  columns=master_df.columns[1],
                  values= master_df.columns[2])
except:
    master_df_confirmed = master_df.pivot_table(master_df,index='County', columns='Date', values='Confirmed')
dates_confirmed = list(master_df_confirmed.columns)
master_df_confirmed = master_df_confirmed.sort_values(by=dates_confirmed[-1], ascending=False)
master_df_confirmed = master_df_confirmed.dropna()
master_df_confirmed=master_df_confirmed[master_df_confirmed[dates_confirmed[-1]]!=0].dropna()
master_df_confirmed

Date,03/22/2020,03/23/2020,03/24/2020,03/25/2020,03/26/2020,03/27/2020
County,,,,,,
Maricopa,81,139,199,251,299,399
Pima,17,24,42,49,75,102
Navajo,13,25,32,37,43,49
Coconino,14,17,18,23,28,41
Pinal,16,17,22,23,35,36
Apache,3,4,4,7,9,11
Yavapai,3,3,3,4,5,9
Graham,2,2,2,2,2,4
Mohave,0,0,0,0,2,4
Yuma,1,2,2,3,4,4
Cochise,1,1,1,1,2,2
La Paz,0,0,0,0,2,2
Santa Cruz,1,1,1,1,2,2

In [5]:
# create html table and save to file 
master_df_confirmed.to_html('arizona_table.html', index=False, classes=['table', 'table-striped', 'table-hover'])